body {
    background-color:hsl(233, 47%, 7%) ;
}
.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: hsl(244, 38%, 16%);
    color: white;
    margin: 15rem auto;
    width: 46rem;
    border-radius: 6px;
}
.insights {
    color: hsl(277, 64%, 61%);
}
.d1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 4rem;
    padding: 0 2rem 2rem 0;
}
img {
    width: 18rem;
    height: 100%;
    border-radius: 0 6px 6px 0;
    filter: invert(47%) sepia(34%) saturate(4648%) hue-rotate(244deg) brightness(92%) contrast(70%);
}
p {
    margin: 0;
    padding: 0 2.5rem 0 3rem ;
    text-align: left;
}
h1 {
    padding: 0 3.5rem;
    text-align: left;
}
h2 {
    margin-bottom: 0;
}